p {
  font: 1em/1.8em Verdana, sans-serif;
  margin-bottom: 1em;
}

ul {
  list-style-type: square;
}

/* Blockquotes */
blockquote {
  margin: 0 3em 1em;
  p {
    color: #666;
    font-style: italic;
    @include font-shorthand(300, 1em, 1.8em);
  }
}

/* General Styles */
.center {
  text-align: center;
}




/* Header */
header {
  border-bottom: 1px solid #EEEEEE;
  margin: 20px 0 0;
  padding-bottom: 20px;
}

#title {
  line-height: 1em;
}

#title a {
  color: black;
  display: block;
  font: 300 3em/1em $headerFont;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#title a:hover {
  text-decoration: none;
}

.contact {
  margin-top: 5px;
}




/* Footer */
footer {
  border: 0;
  margin: 0;
  padding: 0;
}

#company-info {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 2em 0;
}

.adr .fn {
  color: black;
  font: 400 1.5em/1em $headerFont;
}

.adr .fn:hover {
  text-decoration: none;
}

.adr .tag-line {
  font: 300 1.1em/1.4em $headerFont;
}

.get-started {
  font-size: 1.1em;
  text-align: right;
}

#copyright {
  font-size: 10px;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 2em 0;
  width: 720px;
}

#copyright > div {
  line-height: 1.5em;
}




/* Contact Page */
.contact-form {
  height: 500px;
  width: 500px;
}




/* Main content area */
#content {
}

#content h3 {
  margin-top: 0.25em;
}

#content p strong {
  font-size: 0.9em;
}




/* Projects */
#projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#projects .project {
  background-color: #EEE;
  margin-bottom: 20px;
  min-height: 300px;
  text-align: center;

  @include box-shadow(1px 1px 1px rgba(0,0,0,.2));
}

#projects .project > a {
  color: inherit;
  display: block;
  padding: 20px 20px 10px;
  text-decoration: none;
}

#projects .project:hover {
  background-color: #E5E5E5;
}

#projects .project img {
  display: block;
  margin: 0 auto;
  max-width: 240px;
}

#projects .project p {
  font: 0.9em/1.5em Verdana, sans-serif;
  margin-top: 10px;
  text-align: left;
}




/* Posts */
#post {
  margin: 30px 0 50px;
}

#post header {
  border-bottom: none;
}

#post .posted-on {
  border-bottom: 1px dashed #D2D2D2;
  font: 0.9em Verdana, sans-serif;
  letter-spacing: 0.33em;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

#post .title {
  font: 1.8em $postTitleFont;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  text-align: center;
}

#post .byline {
  font: italic 1.1em Times, serif;
  letter-spacing: 1px;
  text-align: center;
}

#post .byline a {
  font: bold 0.85em Verdana, sans-serif;
  text-transform: uppercase;
  margin-left: 0.25em;
}

#post h3 {
  color: black;
  font: 1.4em $postTitleFont;
  letter-spacing: 1px;
  margin: 0.5em 0;
}

#post #post-body {
  padding: 10px;
}

#post footer,
#related-posts {
  border-top: 1px dashed #D2D2D2;
  margin-top: 1.75em;
  padding-top: 1em;
}

#related-posts ul li {
  font: 1em/1.8em Verdana, sans-serif;
  margin-bottom: 0.25em;
}




/* Team */
.team li {
  padding: 10px;
}

.team li a {
  display: block;
  text-align: center;
}

.team li a:hover {
  text-decoration: none;
}

.team li img {
  border: 1px solid #ccc;
  padding: 2px;
}

.team li p {
  color: #555555;
  font-weight: bold;
  line-height: 1em;
}

#profile h1 {
  margin-bottom: 20px;
}

#profile-photo {
  text-align: center;
}

.author-info .fn {
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.author-info .note p {
  font-size: 14px;
}
 
 
 
 
 /* Twitter */
#tweets {
  margin-top: 20px;
}

#tweets ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tweets ul li {
  border-top: 1px dashed #D2D2D2;
  font: 1em/1.4em Verdana,sans-serif;
  padding-top: 1em;
}

#tweets .jta-tweet-attributes {
  color: #999;
  display: block;
  font-size: 0.75em;
  line-height: 1.4em;
  margin-top: 0.75em;
}





/* Github */
#github-header {
  margin-bottom: 10px;
}

#github-header h3 {
  line-height: 1.3em;
}

#followGithub {
  color: #121516;
  float: right;
  line-height: 1em;
  text-shadow: 0 1px 1px #ccc;
  padding: 2px 8px 4px;

  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

  -moz-box-shadow: 0px 0px 2px #666;
  -webkit-box-shadow: 0px 0px 2px #666; 
  box-shadow: 0px 0px 2px #666; 

  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#aaaaaa)); 
  background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa); 
  background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa); 
  background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa); 
  background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa); 
  background-image: linear-gradient(top, #eeeeee, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#aaaaaa'); 
}

#followGithub img { position: relative; top: 2px; margin: 0 6px 0 0; }

#github {
  margin-top: 25px;
}





/* LinkedIn */
#linkedin {
  margin-top: 30px;
}
