h1 {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.contact-form {
  height: 500px;
  width: 500px;
}

#copyright {
  font-size: 10px;
  line-height: 1.5em;
  margin: 20px auto;
  width: 720px;
}

#copyright > div {
  line-height: 1.5em;
}

#content {
  margin: 20px 0 35px;
}