
@import "compass";
@import "compass/css3";
@import "compass/utilities";

@import "compass_bootstrap";

#wrap_all {
  width: 940px;
  padding-right: 10px;
  padding-left: 30px; // cancels #page_inside + 10px extra
  margin: 0 auto; // center
}
