<div class="author row">
  <div class="author-image span2">
    <img src="/images/chris-chandler.jpg" title="Chris Chandler" alt="Chris Chandler" />
  </div>

  <div class="author-info span10">
    <div class="author-name">Chris Chandler</div>
    <div class="author-bio">
      Chris has dabbled in cross-layer wireless network routing algorithms as a PhD student at ASU
      and co-authored several papers during his time there. His development experience includes
      several widely-integrated and PCI-compliant e-commerce platforms, a handful of data
      protection/encryption suites, and a significant amount of work for one of the world’s
      largest public-facing Certificate Authorities in addition to several other projects.
    </div>
    <div class="author-sm">
      <ul>
        <li><a class="github"   href="http://github.com/cchandler">GitHub</a></li>
        <li><a class="twitter"  href="http://twitter.com/squanderingtime">Twitter</a></li>
        <li><a class="linkedin" href="http://www.linkedin.com/in/cchandler480">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>