<div class="author row">
  <div class="author-image span2">
    <img src="/images/curtis-miller.jpg" title="Curtis Miller" alt="Curtis Miller" />
  </div>

  <div class="author-info span10">
    <div class="author-name">Curtis Miller</div>
    <div class="author-bio">
      Curtis has a MS in Computer Science and has been developing software for the past 10 years.
      He’s worked with large, distributed systems for the US Navy, behavioral health EHR systems
      and large-scale CMS. He found his true passion developing web applications using the Ruby
      programming language and hasn’t looked back since.
    </div>
    <div class="author-sm">
      <ul>
        <li><a class="github"   href="http://github.com/curtis">GitHub</a></li>
        <li><a class="twitter"  href="http://twitter.com/curtism">Twitter</a></li>
        <li><a class="linkedin" href="http://www.linkedin.com/in/curtm95">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>