<nav>
  <ul class="tabs">
    <li class="dropdown" data-dropdown="dropdown">
      <a href="/services" class="dropdown-toggle" rel="nofollow">Services</a>
      <ul class="dropdown-menu">
        <li><a href="/services/ruby-on-rails-development">Ruby on Rails Development</a></li>
        <li><a href="/services/code-audits">Code Audits</a></li>
        <li class="divider"></li>
        <li><a href="/services/search-engine-marketing">Search Engine Marketing</a></li>
      </ul>
    </li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
