<div class="author row">
  <div class="author-image span2">
    <img src="/images/ralph-miller.jpg" title="Ralph Miller" alt="Ralph Miller" />
  </div>

  <div class="author-info span10">
    <div class="author-name">Ralph Miller</div>
    <div class="author-bio">
    </div>
    <div class="author-sm">
      <ul>
        <li><a class="twitter"  href="http://twitter.com/FearlessAdvisor">Twitter</a></li>
        <li><a class="linkedin" href="http://www.linkedin.com/in/ralphmillerjr">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>