---
layout: default
---

<div class="span11">
  <article id="post">
    <header class="row">
      <div class="posted-on" >
        <time datetime="{{ page.date | date:'%Y-%m-%d' }}" pubdate="pubdate">{{ page.date | date:"%B %d, %Y" }}</time>
        
      </div>

      <h1 class="title">
        <a href="{{ page.permalink }}" title="Permalink for {{ page.title }}">{{ page.title }}</a>
      </h1>

      <h2 class="byline">
        by
        <a href="">{{ page.author }}</a>
      </h2>
    </header>

    <div id="post-body">
      {% if page.image %}
        <div class="post-image span4">
          <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" data-attribution="{{ page.image.attribution }}" data-attribution-url="{{ page.image.attribution-url }}" />
        </div>
      {% endif %}

      {{ content }}
    </div>

    {% include sharing.html %}

    <footer>
      {% authors %}
      {% include related.html %}
      {% include comments.html %}
    </footer>
  </article>
</div>

{% include sidebar.html %}
