---
layout: page
---
<div id="profile" class="row">
  <div class="span4">
    {% if page.image %}
      <div id="profile-photo">
        <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" width="200" height="200" />
      </div>
    {% endif %}

    {% if page.linkedin %}
      <div id="linkedin">
        <a href="http://www.linkedin.com/in/{{ page.linkedin }}">
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View my profile on LinkedIn">
        </a>
      </div>
    {% endif %}

    {% if page.twitter %}
      <div id="tweets">
        <h3>Recent Tweets</h3>
      </div>
    {% endif %}

  </div>

  <div class="span11">
    <h1>
      {{ page.name }}
      <small>{{ page.role }}</small>
    </h1>

    {{ page.bio | simple_format }}

    {% if page.website %}
      <p><a href="http://{{ page.website }}">{{ page.website }}</a></p>
    {% endif %}

    <hr />

    {% include github.html %}
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#tweets').jTweetsAnywhere({
      username: '{{ page.twitter }}',
      count: 3,
      showFollowButton: true,
      showTweetFeed: {
        autorefresh: {
          mode: 'trigger-insert'
        }
      }
    });
  });
</script>
<script src="http://platform.twitter.com/anywhere.js?id=cmtioPj3WOCceOUWWYj1g&amp;v=1" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/jquery.jtweetsanywhere-1.2.1.min.js" type="text/javascript"> </script>
