---
layout: page
---

{% if page.image %}
  <div class="span5 logo">
    <a href="{{ page.website }}">
      <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
    </a>
  </div>
{% endif %}

<div class="span10">
  <h1>{{ page.title }}</h1>
  {{ page.description | simple_format }}

  {% if page.website %}
    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}
</div>

<div id="project-description" class="span16">
  <h3>What we did for {{ page.title }}:</h3>
  {{ page.project_description | simple_format }}
</div>

{% if page.endorsements %}
  <div id="endorsements" class="span16">
    <h3>What {{ page.title }} had to say about Flatterline:</h3>

    {% for endorsement in page.endorsements %}
      <blockquote>
        {{ endorsement.body | simple_format }}
        <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
      </blockquote>
    {% endfor %}
  </div>
{% endif %}
